'scopeName': 'source.s7c'
'fileTypes': [
  's7comm',
  'S7-comm',
  's7c'
]
'name': 'S7-comm'
'patterns': [
  # mark green
    {
      'match': '\\b(?i)(S7 Communication Plus)\\b'
      'name': 'string.quoted.double.S7-comm'
    }
  #  mark blue
    {
      'match': '\\b(?i)(Response Set)\\b'
      'name': 'entity.name.section.S7-comm'
    }
  #  mark petrol
    {
      'match': '\\b(?i)(value|item|valuelist|nummer|list)\\b'
      'name': 'support.function.S7-comm'
    }
  #  mark violet
    {
      'match': '\\b(?i)(data|bitmask|byte|bool|return|int)\\b'
      'name': 'keyword.control.S7-comm'
    }
  #  mark red
    {
        'match': '\\b(?i)(debug)\\b'
        'name': 'variable.other.S7-comm'
    }
  # error
    {
        'match': '\\b(?i)(error)\\b'
        'name': 'invalid.illegal.S7-comm'
    }

  # constant numbers
    {
      'captures':
        '1':
          'name': 'constant.numeric.S7-comm'
      'match': '\\b([0-9]+)\\b'
      'name': 'meta.numberic.S7-comm'
    }
]
